.bg-top-nav {
    background-color: #232f3e;
    color: white;
}

.custom-top-nav,
.custom-top-nav p {
    font-size: 14px;
}

.custom-top-nav a {
    padding: 8px;
}

.custom-top-nav .border-left {
    border-color: #4a4a4a !important;
}

.custom-btn-font-size {
    font-size: 14px;
}

.shop-card {
    background-color: transparent;
}

.shop-card i {
    vertical-align: -2px;
}

.custom-dropdown-toggle::after {
    vertical-align: 0;
}

.basket a img {
    width: 64px;
    height: 64px;
}

.basket a {
    font-size: 12px;
}

.basket {
    width: 250px !important;
}

.custom-navbar-nav {
    font-size: 15px;
}

.custom-navbar-nav .nav-item {
    position: unset;
}

.custom-navbar-nav .nav-item .dropdown-menu {
    color: #fff;
    border-radius: 0;
    top: 67px;
}

.dropdown-image img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.dropdown-image ul.nav li a {
    color: #000 !important;
    font-size: 16px;
}

.dropdown-image ul.nav li a i {
    vertical-align: -2px;
}

.dropdown-image ul.nav li a:hover {
    margin-right: 7px;
    color: #5fa4ff !important;
    transition: 0.5s;
}

.custom-navbar-toggler {
    color: #fff;
    border: none;
}

.custom-navbar-toggler:focus {
    outline: none;
}

.input-top-nav-search::-webkit-input-placeholder {
    font-size: 16px;
}
